.page-header {
  background: url("../../course/en/images/header.png");
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  display: none !important;
}

.button {
  background-color: @red !important;
}

.page-title-inner {
  color: white !important;
}

.buttons-action {
  background-color: @red;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.navigation-drawer-toggle-button {
  display: none !important;
}

/* Custom Sytles by James!!! */
.menu .menu-body {
    color: @white !important;
}

.narrative-controls-container button, .narrative-controls-container .button{ 
    background-color: @white !important;
}

.no-touch .narrative-component .narrative-controls:hover { 
    background-color: @thanos-dark-purple !important;
}

.no-touch .narrative-component .narrative-controls:hover .icon {
    color: @thanos-gold !important;
}


.menu {
    background-color: @thanos-dark-purple !important;
}

.menu-item-inner {
    border-radius: 3px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
}

.navigation {
    background-color: @thanos-dark-purple !important;
    border-bottom: 2px solid @thanos-gold;
}

.block:nth-child(even), .block {
    background-color: @thanos-dark-purple !important;
}

.component .component-inner {
    border-radius: 3px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
    border-top: 3px solid @thanos-gold;
}

.component .component-title {
    padding-bottom: .5rem !important;
    border-bottom: 1px solid #8F8F8D !important;
}

.page-level-progress-navigation-completion {
    border-color: @thanos-dark-purple !important;
}

.menu-header {
    background-color: @thanos-dark-purple !important;
    background-image: url("course/en/images/avengers-menu-header.jpg") !important;
    background-size: cover !important;
}

.menu-title {
    color: @white !important;
    font-weight: bold !important;
}

.page-level-progress-navigation-bar {
    border-color: @thanos-gold !important;
    background-color: @thanos-gold !important;
}

.buttons-action {
    border-radius: 3px !important;
    border-bottom: 4px solid @thanos-light-blue;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .35);
}

.buttons-action:hover {
    background-color: @thanos-light-blue !important;
}

.navigation-inner .button, .navigation-inner button {
    background-color: @thanos-dark-purple !important;
}

.no-touch .navigation .icon:hover {
    color: @thanos-gold !important; 
}

.button, button {
    background-color: @thanos-dark-blue !important;
    border-radius: 3px !important;
    border-bottom: 4px solid @thanos-light-blue !important;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .35) !important;
}

.button:hover, button:hover {
    background-color: @thanos-light-blue !important;
}

.navigation .button, .navigation button {
    border-radius: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.navigation .button:hover, .navigation button:hover {
    background-color: @thanos-dark-purple !important;
}

.button[disabled="disabled"], button[disabled="disabled"] {
    border-radius: 3px;
    border-bottom: 4px solid @thanos-dark-purple !important;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .35);
}

.gmcq-component .gmcq-item label:hover {
    background-color: @thanos-gold !important;
    color: #fff !important
}

.gmcq-component .gmcq-item label.selected {
    background-color: @thanos-gold !important;
    color: #fff !important;
}

.narrative-controls-container .button, .narrative-controls-container button {
    border-radius: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.narrative-controls-container .button:hover, .narrative-controls-container button:hover {
    background-color: #fff !important;
}

.notify .notify-popup-button {
    background-color:  @thanos-dark-blue !important;
}

.notify .notify-popup-button:hover {
    background-color: @thanos-light-blue !important;
    color: #fff !important;
}

.notify .notify-popup-icon-close {
    color: #fff !important;
}

/* Caharcters flip card chages */
.characterFlipcard .flipcard-item {
    color: #fff !important;
}

.flipcard-item-back-title {
    font-weight: bold !important;
    font-size: 25px;
}

.characterFlipcard .flipcard-item .flipcard-item-back-body {
    margin-bottom: 20px !important;
}

.flipImage-captain .flipcard-item-face {
    background: url("course/en/images/capAmerica-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-iron .flipcard-item-face {
    background: url("course/en/images/iron-man-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-hulk .flipcard-item-face {
    background: url("course/en/images/hulk-2-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-thor .flipcard-item-face {
    background: url("course/en/images/thor-2-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-widow .flipcard-item-face {
    background: url("course/en/images/widow-2-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-hawkeye .flipcard-item-face {
    background: url("course/en/images/hawkeye-2-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-strange .flipcard-item-face {
    background: url("course/en/images/strange-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-machine .flipcard-item-face {
    background: url("course/en/images/warMachine-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-spiderman .flipcard-item-face {
    background: url("course/en/images/spider-man-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-panther .flipcard-item-face {
    background: url("course/en/images/blackPanther-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-vision .flipcard-item-face {
    background: url("course/en/images/vision-flip.jpg") !important;
    background-size: cover !important;
     
}

.flipImage-witch .flipcard-item-face {
    background: url("course/en/images/scarletWitch-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-falcon .flipcard-item-face {
    background: url("course/en/images/falcon-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-soldier .flipcard-item-face {
    background: url("course/en/images/winterSoldier-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-loki .flipcard-item-face {
    background: url("course/en/images/loki-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-marvel .flipcard-item-face {
    background: url("course/en/images/captainMarvel-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-ant .flipcard-item-face {
    background: url("course/en/images/antMan-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-wasp .flipcard-item-face {
    background: url("course/en/images/wasp-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-lord .flipcard-item-face {
    background: url("course/en/images/starLord-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-gamora .flipcard-item-face {
    background: url("course/en/images/gamora-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-drax .flipcard-item-face {
    background: url("course/en/images/drax-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-rocket .flipcard-item-face {
    background: url("course/en/images/rocket-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-groot .flipcard-item-face {
    background: url("course/en/images/groot-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-mantis .flipcard-item-face {
    background: url("course/en/images/mantis-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-nebula .flipcard-item-face {
    background: url("course/en/images/nebula-flip.jpg") !important;
    background-size: cover !important;
}

.flipImage-thanos .flipcard-item-face {
    background: url("course/en/images/thanos-flip.jpg") !important;
    background-size: cover !important;
}

.flipcard-item-text-wrapper {
    padding: 20px;
    background-color: rgba(0, 0, 0, .6) !important;
    border-radius: 3px;
}

.gmcq-item-state {
    display: none !important;
}

.gmcq-component .gmcq-item label .gmcq-answer-icon.radio {
    display: none !important;
}

.gmcq-component .gmcq-item-inner {
    padding-left: 20px !important;
    text-align: center !important;
}


.narrative-component .narrative-content-title {
    text-align: center;
}

.notify-popup.notify-type-popup.correct.component-mcq {
  background-color: #4CAF50 !important;
  font-size: 28px !important;
}

.notify-popup.notify-type-popup.incorrect.component-mcq {
  font-size: 28px !important;
}

/* Adding padding and border to front course boxes */
.menu .menu-item .menu-item-inner {
  padding: 10px; border: 1px solid @black;
}

.hotgraphic-popup-toolbar {
  background-color: @mid-grey!important;
}

.icon-home {
  padding-right: 0;
  float: left;
}

/* BEST PRACTICE CLASSES */
span.critical-safety {
    color: @red;
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: lighten(@red, 40%);
    strong {
        text-transform: uppercase;
    }
    i {
        position: relative;
        top: 5px;
    }
}

span.critical-quality {
    color: @orange;
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: lighten(@orange, 40%);
    strong {
        text-transform: uppercase;
    }
    i {
        position: relative;
        top: 5px;
    }
}

.block {
    &.critical-safety, &.critical-quality {
        padding: 0.25em 0.5em;
        display: block;
        font-size: 18px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        i {
            font-size: 35px;
            position: relative;
            top: 5px;
        }
        i:not(.pauseM):not(.playM) {
            position: relative;
            top: 5px;
        }
        .subtitle {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            display: block;
            line-height: 15px;
        }
        &.narrative-content-item {
            .subtitle {
                font-size: 15px;
            }
            i:not(.pauseM):not(.playM) {
                top: 3px
            }
            strong {
                display: block;
                text-align: center;
            }
        }
        .extension-audio {
            top: -40px;
            right: 0.5em;
            box-shadow: none;
            background-color: transparent;
            input {
                display: none;
            }
        }
        .component .component-inner {
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }
        .text-title {
            .component-title-inner {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .text-body-inner {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
    }
    &.critical-safety {
        background-color: lighten(@red,40%) !important;
        color: @red;
        border-color: @red;
        .component-title-inner {
            color: @red;
        }
    }
    &.critical-quality {
        background-color: lighten(@orange, 40%) !important;
        color: @orange;
        border-color: @orange;
        .component-title-inner {
            color: @orange;
        }
    }
}

.narrative-component {
    .narrative-content {
        .narrative-content-inner {
            line-height: 1.35;
            padding: 0;
            .narrative-content-item {
                &.critical-safety, &.critical-quality {
                    padding: 20px;
                    .narrative-content-title {
                        text-transform: uppercase;
                        font-size: 20px;
                        text-align: center;
                    }
                    &.critical-safety {
                        background-color: lighten(@red, 40%);
                        color: @red;
                        .h5 {
                            text-transform: uppercase;
                            text-align: center;
                            color: @red;
                            i {
                                font-size: 29px;
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                    &.critical-quality {
                        background-color: lighten(@orange, 40%);
                        color: @orange;
                        .h5 {
                            text-align: center;
                            color: @orange;
                            i {
                                font-size: 29px;
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.kaltura-bottom {
    display: block;
    margin-top: 20px;
    .kaltura-bottom-left, .kaltura-bottom-right {
        display: inline-block;
        vertical-align: top;
    }
    .kaltura-bottom-left {
        width: 65%;
        margin-right: 1%;

    }
    .kaltura-bottom-right {
        width: 33%;
    }
}