// THIS IS WHERE WE CAN DECLARE ANY OTHER VARIABLES (ie. device-width, border-width etc.)

// Device widths
// =============

@device-width-small: unit(@adapt-device-small, px);
@device-width-medium: unit(@adapt-device-medium, px);
@device-width-large: unit(@adapt-device-large, px);

// Max-widths
// ==========

@max-width: 1400px;
@ie8-max-width: 1024px;

// Borders and Outlines
// ====================

@focus-outline: 3px solid orange; //focus outline is displayed when accessibility is enabled

@button-border: 0px solid @button-border-color;

@item-border: 3px solid @item-border-color;

// Background Color of HTML Body
// =============================

body {
  background-color: @white;
}
