<div class="animateCCmate-inner component-inner row collapse">
  {{> component this}}
  <div class="animateCCmate-widget component-widget large-12 medium-12 small-12 column">
    <div class="animateCCmate-object-holder row collapse">
      <object type="text/html" data="" class="animateCCmate-object large-12 medium-12 small-12 column"></object>
    </div>
  </div>
</div>
