<div class="stacklist-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}

    <div class="stacklist-widget component-widget">
        <div class="stacklist-items {{#if _graphicStacklist}}graphics{{/if}}">
            <div class="stacklist-items-inner">
                {{#each _items}}
                    <div class="stacklist-item">
                        {{#if this.length}}
                            {{{a11y_text this}}}
                        {{else}}
                            {{{a11y_text body}}}
                        {{/if}}
                    </div>
                {{/each}}
                <div class="stacklist-button">
                    <button class="stacklist-next" aria-label="{{_globals._accessibility._ariaLabels.next}}" role="button">
                        {{{_button.startText}}}
                    </button>
                </div>
            </div>
            {{#if _graphicStacklist}}
                <div class="stacklist-graphic-initial">
                    <div class="stacklist-graphic-inner">
                        <img src="{{_graphic.src}}" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                    </div>
                </div>
                {{#each _items}}
                    {{#if _graphic}}
                        <div class="stacklist-graphic">
                            <div class="stacklist-graphic-inner">
                                <img src="{{_graphic.src}}" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
