{{#if _audio}}
<!--div class="audio-controls" role="button" aria-label="{{_audio.buttonAria}}">
	<a class="icon play" href="#" data-autoplay="{{_audio.autoplay}}" data-mp3="{{_audio.mp3}}" data-ogg="{{_audio.ogg}}"></a>
</div-->
<div class="extension-audio" style="vertical-align: middle;">


  <button class="material-icons audio-play ">&#xE037;</button>
	<button class="material-icons audio-pause ">&#xE034;</button>
  <button class="material-icons audio-replay " style="float: right;">&#xE042;</button>


	<input type="range" min="0" max="100" value="0" disabled>









	<audio src="{{_audio.mp3}} "></audio><br />

</div>
{{/if}}
