<div class="button-inner">
    <div class="button-widget component-widget">

        {{#if main-menu}}
          <button class="{{_classes}}" aria-label="{{displayTitle}}" title="{{_hoverText}}" {{#unless _isEnabled}}disabled{{/unless}}>{{{displayTitle}}}</button>
        {{else}}
          <button class="{{_classes}}" aria-label="{{displayTitle}}" title="{{_hoverText}}" {{#unless _isEnabled}}disabled{{/unless}}>{{{displayTitle}}}</button>
        {{/if}}


    </div>

    {{#if body}}
    <div class="{{_component}}-body component-body">
        <div class="{{_component}}-body-inner component-body-inner">
            {{{compile_a11y_text body this}}}
        </div>
    </div>
    {{/if}}
</div>
