{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="{{_component}}-header component-header">
    <div class="{{_component}}-header-inner component-header-inner">
        {{#if _audio}}
          {{> audio-controls this}}
        {{/if}}
        {{#if displayTitle}}
            <div class="{{_component}}-title component-title">
                <div class="{{_component}}-title-inner component-title-inner" {{{a11y_attrs_heading "component"}}}>
                    {{{compile displayTitle this}}}
                </div>
            </div>
        {{/if}}
        
        {{#if body}}
            <div class="{{_component}}-body component-body">
                <div class="{{_component}}-body-inner component-body-inner">
                    {{{compile_a11y_text body this}}}
                </div>
            </div>
        {{/if}}
        
        {{#any instruction mobileInstruction}}
            <div class="{{_component}}-instruction component-instruction">
                <div class="{{_component}}-instruction-inner component-instruction-inner">
                    {{{compile_a11y_text instruction this}}}
                </div>
            </div>
        {{/any}}

    </div>
</div>
