.dragndrop-inner {

    position: relative;

    .dragndrop-container {
    }

    .dragndrop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        transition: opacity 200ms;
    }

    .dragndrop-widget.dragging .dragndrop-overlay {
        z-index: 10;
        opacity: 0.1;
    }

    .buttons, .dragndrop-item {
        z-index: 11;
    }

    .dragndrop-questions {
        width: 50%;
        display: inline-block;
        margin-bottom: 20px;
    }

    .dragndrop-question {
        position: relative;
        padding: 20px;
        margin-bottom: 2px;
        background: @primary-color;
        color: @primary-color-inverted;
        text-align: justify;

        .dragndrop-question-text {
            font-size: @body-text-font-size;
            margin-bottom: 20px;
        }

        .ui-droppable {
            display: inline-block;
            position: relative;
            border: 1px dotted;
            border-color: @primary-color-inverted;
            vertical-align: middle;
        }

        .ui-droppable.ui-state-active {
            background-color: @primary-color;
        }

        .ui-droppable.ui-state-enabled.ui-state-hover {
            background-color: lighten(@primary-color, 10%);
        }

        .ui-droppable.ui-state-disabled {
            border-style: solid;
            z-index: 8;
        }

        .dragndrop-question-state {
            float: right;

            .icon {
                display: none;
                color: #ffffff;
            }
        }
    }

    .dragndrop-answers {
        width: 50%;
        display: inline-block;
        .dragndrop-answer {
            float: left;
            background: #ddd;
            border: 1px solid transparent;
            text-align: center;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            cursor: move;

            &.ui-draggable-disabled {
                cursor: default;
            }
            &.ui-draggable-dragging {
                box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
                z-index: 12;
            }
            &.ui-state-placed {
                z-index: 9;
                background: none;
                color: @primary-color-inverted;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            }
            &.ui-state-placing {
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
            }
        }
    }

    .dragndrop-item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        padding: 12px 20px;
        margin: 0 15px 15px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.dragndrop-widget.show-user-answer {
    .dragndrop-question {
        &.correct .icon-tick {
            display: block;
        }
        &.incorrect .icon-cross {
            display: block;
        }
    }
}

.dragndrop-transition-0 {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.dragndrop-transition-200 {
    -webkit-transition: top 0.2s, left 0.2s;
    -moz-transition: top 0.2s, left 0.2s;
    -ms-transition: top 0.2s, left 0.2s;
    -o-transition: top 0.2s, left 0.2s;
    transition: top 0.2s, left 0.2s;
}

.dragndrop-transition-600 {
    -webkit-transition: top 0.6s, left 0.6s;
    -moz-transition: top 0.6s, left 0.6s;
    -ms-transition: top 0.6s, left 0.6s;
    -o-transition: top 0.6s, left 0.6s;
    transition: top 0.6s, left 0.6s;
}

.dragndrop-inner {
    .dragndrop-question-state {
        display: none;
    }
    .disabled {
        &.submitted {
            .dragndrop-answers {
                .dragndrop-answer {
                    &.ui-state-placed {
                        background: transparent;
                    }
                }
            }
        }
    }
    .dragndrop-item {
        padding: 10px 15px;
        margin: 0 15px 20px 30px;
        &.dragndrop-droppable {
            height: 80px !important;
            position: absolute;
            top: 0;
        }
    }
    .dragndrop-answers {
        .dragndrop-answer {
            &.ui-state-placed {
                color: #333;
            }
            &.ui-state-placed {
                color: #fff;
                background-color: #333;
                text-align: left;
            }
        }
    }
    .dragndrop-question {
        .dragndrop-question-text {
            margin-bottom: 25px;
        }
        &.correct {
            .ui-droppable {
                &.ui-state-disabled {
                    background: @green;
                }
            }
        }
        &.incorrect {
            .ui-droppable {
                &.ui-state-disabled {
                    background: @red;
                }
            }
        }
        padding: 0;
        background: transparent;
        .dragndrop-question-text {
            color: #333;
            padding: 0.76em 0.5em;
        }
        .ui-droppable {
            position: absolute;
            top: 0;
            border-color: #333;
            &.ui-state-active {
                background: #333;
            }
            &.ui-state-enabled {
                &.ui-state-hover {
                    background: #333;
                }
            }
            &.ui-state-disabled {
                border-style: none;
                background-color: #333;
            }
            .submitted {
                &.ui-state-disabled {
                    background-color: transparent;
                }
            }
        }
    }
}

.dragndrop-inner {
    .dragndrop-answers {
        padding-top: 3em;
    }
    .dragndrop-question {
        .dragndrop-question-text {
            margin: 0 ;
            padding: 0 0.5em 0 0;
        }
        .ui-droppable {
            position: relative;
            padding-bottom: 0;
            margin-bottom: 10px;
        }
    }
    .dragndrop-item {
        margin: 0 15px 2.75em 0;
        .dragndrop-droppable {

        }
    }
}