<div class="accordion-inner component-inner" role="region" aria-label="{{_globals._components._accordion.ariaRegion}}">
    {{> component this}}
    <div class="accordion-widget component-widget">
        {{#each _items}}
            <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
                <button class="base accordion-item-title{{#if _isVisited}} visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
                    <div class="accordion-item-title-inner">
                        <div class="accordion-item-title-icon icon icon-plus h5"></div>
                        {{{title}}}
                    </div>
                </button>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-inner">
                        {{> audio-controls this}}
                        <div class="accordion-item-text">
                            {{{a11y_text body}}}
                        </div>
                        {{#if _graphic.src}}
                            <div class="accordion-item-graphic">
                                <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0">
                            </div>
                            {{#if _graphic.attribution}}
                                <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
