{{! make the _globals object in course.json available to this template}}
{{import_globals}}
{{! All links in the nav bar should have an attribute of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix">
    {{#if _accessibility._isEnabled}}
        <!-- removes the icon man in corner of navigation <button id="accessibility-toggle" class="base icon icon-accessibility a11y-ignore-focus"></button> -->
        <span id="accessibility-instructions" class="aria-label" role="region" tabindex="0"></span>
    {{/if}}
    {{{a11y_aria_label _globals._accessibility._ariaLabels.navigation}}}
    {{#if _accessibility._isSkipNavigationEnabled}}
        <button class="skip-nav-link a11y-ignore a11y-ignore-focus" data-event="skipNavigation" aria-label="{{_globals._accessibility._ariaLabels.skipNavigation}}">{{{_globals._accessibility.skipNavigationText}}}</button>
    {{/if}}
    <button class="base navigation-back-button icon icon-controls-small-left" data-event="backButton" aria-label="{{_globals._accessibility._ariaLabels.previous}}"></button>
    <button class="base navigation-home-button icon icon-home" data-event="homeButton" role="button" aria-label="{{_globals._accessibility._ariaLabels.home}}"></button>
    <button class="base navigation-drawer-toggle-button icon icon-list" data-event="toggleDrawer" aria-label="{{_globals._accessibility._ariaLabels.navigationDrawer}}"></button>
</div>
